*
!Dockerfile
!requirements.txt
!survivor/
!survivor/**
!config/
!config/**
!output/
!output/stats/
!output/stats/manifest.json
!output/stats/actuals-*.csv
!output/stats/projections-*-CBS.csv
!Survivor keeper log 2025.xlsx
**/__pycache__
